.tagsearch--container,
.tagitems--container,
.lucidite--container,
.typopologie--container,
.calendrier--container,
.button--download,
.button--select {
    transition: opacity $rythm1 $rythm3 ease-in-out !important;
    opacity: 0;
    pointer-events: none;
}


// RECHERCHE DE TAGS
.tagsearch--container {
    margin: 0 calc( 30px / 2 ) 30px;
    position: relative;
    width: calc( 100% - 30px );

    img {
        background-color: $bg;
        margin: 0 0 0 2px;
        padding: 0 0 0 2px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
}

.tagsearch {
    border: none;
    border-bottom: 1px solid $color;
    color: #000;
    font-family: $covik;
    font-size: $h4;
    height: 28px;
    outline: none;
    padding: 10px 27px 10px 0;
    width: 100%;

    &::-webkit-placeholder { /* Chrome/Opera/Safari */
        color: $color;
        font-family: $covik;
        font-size: $h4;
        opacity: 1;
        padding: 10px 0;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        color: $color;
        font-family: $covik;
        font-size: /$h4;
        opacity: 1;
        padding: 10px 0;
    }
    &:-ms-placeholder { /* IE 10+ */
        color: $color;
        font-family: $covik;
        font-size: $h4;
        opacity: 1;
        padding: 10px 0;
    }
    &:-moz-placeholder { /* Firefox 18- */
        color: $color;
        font-family: $covik;
        font-size: $h4;
        opacity: 1;
        padding: 10px 0;
    }
    &::placeholder { /* Firefox 18- */
        color: $color;
        font-family: $covik;
        font-size: $h4;
        opacity: 1;
        padding: 10px 0;
    }
    &::placeholder {
        color: $color;
        font-family: $covik;
        font-size: $h4;
        opacity: 1;
        padding: 10px 0;
    }

    &::-moz-placeholder {
        color: #000;
        font-family: $covik;
        font-size: $h4;
        opacity: 1;
        padding: 10px 0;
    }

}

// LISTE DES DIFFERENTS TAGS
.tagitems--container {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc( 30px / 2 ) 30px;
    position: relative;
    width: calc( 100% - 30px );

    .tagitem {
        cursor: not-allowed;
        margin: 0 8px 8px 0;
        width: auto;

        h4 {
            font-size: $h5;
            text-transform: uppercase;
        }
    }
}


// LISTES DES DIFFERENTES CATEGORIES DE TYPOLOGIE
.typopologie--container {
    height: 100px;
    margin: 0 calc( 30px / 2 ) 30px;
    position: relative;
    width: calc( 100% - 30px );

    div[class^="typologie--item-"] {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-direction: column;
    }
    img {
        height: 80px;
        object-fit: contain;
        object-position: center;
        width: 80px;

        @include respond(tablet) {
            height: 40px;
            width: 40px;
        }
    }
    p {
        font-size: $small;
        text-transform: uppercase;
    }

    .typologie--item {
        align-items: center;
        cursor: pointer;
        display: flex;
        flex-direction: column;

        &.-is-selected {
            p {
                // a affiner avec Hugo
                font-weight: bold;
            }
        }

        &.typologie--item-cauchemar {
            p {
                color: $cauchemar;
            }
        }

        &.typologie--item-reve-concomitant {
            p {
                color: $concomitant;
            }
        }

        &.typologie--item-reve-creatif {
            p {
                color: $creatif;
            }
        }

        &.typologie--item-reve-actualite {
            p {
                color: $actualite;
            }
        }

        &.typologie--item-reve-lucide {
            p {
                color: $lucide;
            }
        }

        &.typologie--item-reve-premonitoire {
            p {
                color: $premonitoire;
            }
        }

        &.typologie--item-reve-recurrent {
            p {
                color: $recurrent;
            }
        }

        &.typologie--item-reve-sexuel {
            p {
                color: $sexuel;
            }
        }
    }

}

.calendrier--container {
    margin: 0 calc( 30px / 2 ) 30px;

    .calendrier--item{
        align-items: center;
        display: flex;
        flex-direction: column;

        h4 {
            margin: 0 0 calc( #{$ratio} / 2 ) 0;
        }

        .calendrier--mois {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 6px 6px;

            .mois--item {
                cursor: pointer;
                display: grid;
                font-family: $covik;
                font-size: $smaller;
                padding: 3px;
                place-items: center;
                text-transform: uppercase;

                &.-is-selected {
                    background-color: $color;
                    color: $bg;
                }
            }
        }
    }

}

// BOUTON TÉLÉCHARGER ET SÉLECTIONNER
.button--download {
    cursor: pointer;
    margin: 0 calc( 30px / 2 ) 30px;
    position: relative;
    transition: transform $rythm1 $rythm1 ease-in-out, opacity $rythm1 $rythm3 ease-in-out !important;
    width: calc( 100% - 30px );

    // CLICK
    &.-is-selected {
        .button--rounded {
            background-color: #303030;
            border: 1px solid #303030;
            color: #FFF;
        }
    }

    h4 {
        text-align: center;
    }
}
.button--select {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: center;
    margin: 0 calc( 30px / 2 ) 30px;
    position: relative;
    width: calc( 100% - 30px );

    &:hover {
        .button--round {
            background-color: $color;
            border-color: $bg;
        }
    }

    // CLICK
    &.-is-selected {
        .button--round {
            background-color: #303030;
            border: 1px solid #303030;
            color: #FFF;
        }
    }

    p {
        margin: 0 0 0 4px;
    }
}
