.selected-dreams {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto !important;
    margin: 0 calc( 30px / 2 ) 30px;
    position: relative;
    width: calc( 100% - 30px );


    &.is-hidden {
        display: none;
    }

    // Title
    .selected-dreams-title {
        text-transform: uppercase;
    }

    // Item
    .selected-dreams-item {
        font-family: $solid;
        text-transform: uppercase;
    }
}
