// Abstracts
@import 'abstract/mixins';
@import 'abstract/variables';
@import 'abstract/functions';

// Base
@import 'base/base';
@import 'base/fonts';
@import 'base/helpers';
@import 'base/typography';
@import 'base/colors';

// Login
@import 'login/container';




// Formulaire
#loginform {
    align-items: center;
    display: flex;
    flex-direction: column;

    // remove wordpress style
    background: none;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;

    // Username or Email Adress
    p {
        text-align: center;

        input {
            background: none;
            border: 2px solid #303030;
            // border: none;
            color: #000;
            // font-family: ;
            // font-size
            outline: none;
            // padding: 10px 27px 10px 0;
            width: 100%;
        }
    }

    // Password
    .user-pass-wrap {
        text-align: center;
    }
}
