#login {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 42%;

    // remove wordpress style
    padding: 0;
    // width: 100vw;

    // Logo
    h1 {
        a {
            background-image: none, url('../images/logo-one-line.svg') !important;
            background-size: 216px;
            height: 20px;
            margin: 0;
            width: 216px;
        }
    }
}

h1,
h2 {
    text-align: center;
}
