.background-reve-recurrent {
    background-color: $recurrent;
}

.border-reve-recurrent {
    border: 2px solid $recurrent;
}

#rounded--reve-recurrent {
    border: 1.5px solid $recurrent;
    color: $recurrent;
}

.border-top-reve-recurrent {
    border-top: 2px solid $recurrent;
}

.border-right-reve-recurrent {
    border-right: 2px solid $recurrent;
}

.border-bottom-reve-recurrent {
    border-bottom: 2px solid $recurrent;
}

.border-left-reve-recurrent {
    border-left: 2px solid $recurrent;
}


