#reve--lucidite {
    border: none;
    margin: auto;
    width: 50%;


    .acf-label {
        margin: 0;

        label {
            font-family: $covik;
            font-size: $h2;
            font-weight: normal;
            line-height: $h2;
            text-transform: uppercase;
            text-align: center;

            margin: 0;
        }
    }

    .acf-input {
        .categorychecklist-holder {
            border: none;
            border-radius: 0px;
            max-height: max-content;

            // LISTE DES DIFFENTS ELEMENTS
            .acf-checkbox-list {
                display: flex;
                flex-wrap: wrap;

                li {
                    margin: 0 calc( #{$ratio} / 3 ) calc( #{$ratio} / 3 ) 0;
                }

                label {
                    border: 1px solid $color;
                    font-size: $h3;
                    line-height: $h3;
                    padding: 1.5px 10px;
                    border-radius: 100px 100px 100px 100px;
                    transition: all 0.325s ease-in-out;

                    // &:hover {
                    //     background-color: $color;
                    //     border: 1px solid $color;
                    //
                    //     & > * {
                    //         color: $bg;
                    //     }
                    // }

                    input {
                        font-size: inherit;
                        line-height: inherit;
                    }

                    span {
                        font-size: inherit;
                        line-height: inherit;
                    }
                }
            }
        }
    }
}
