#reve--typologie {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 70%;

    .acf-label {
        margin: 0;

        label {
            font-family: $covik;
            font-size: $h2;
            font-weight: normal;
            line-height: $h2;
            text-transform: uppercase;
            text-align: center;

            margin: 0;
        }
    }

    .acf-input {
        .categorychecklist-holder {
            border: none;
            border-radius: 0px;
            max-height: max-content;

            // LISTE DES DIFFENTS ELEMENTS
            .acf-checkbox-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                li {
                    margin: 0 calc( #{$ratio} / 3 ) calc( #{$ratio} / 3 ) 0;

                    // SELECTION DES DIFFERENTS TYPES DE TYPOLOGIES
                    label {
                        &:before {
                            height: 70px;
                            width: 70px;
                        }
                    }

                    // Cauchemar
                    &:nth-of-type(1) {
                        label {
                            &:before {
                                content: url(../images/Cauchemar.svg);
                            }
                        }
                    }

                    // reve-Concomitant
                    &:nth-of-type(2) {
                        label {
                            &:before {
                                content: url(../images/reve-concomitant.svg);
                            }
                        }
                    }

                    // reve-Créatif
                    &:nth-of-type(3) {
                        label {
                            &:before {
                                content: url(../images/reve-creatif.svg);
                            }
                        }
                    }

                    // reve-Actualite
                    &:nth-of-type(4) {
                        label {
                            &:before {
                                content: url(../images/reve-dactualite.svg);
                            }
                        }
                    }

                    // reve-Lucide
                    &:nth-of-type(5) {
                        label {
                            &:before {
                                content: url(../images/reve-lucide.svg);
                            }
                        }
                    }

                    // reve-Premonitoire
                    &:nth-of-type(6) {
                        label {
                            &:before {
                                content: url(../images/reve-premonitoire.svg);
                            }
                        }
                    }

                    // reve-Recurrent
                    &:nth-of-type(7) {
                        label {
                            &:before {
                                content: url(../images/reve-recurrent.svg);
                            }
                        }
                    }

                    // reve-Sexuel
                    &:nth-of-type(8) {
                        label {
                            &:before {
                                content: url(../images/reve-sexuel.svg);
                            }
                        }
                    }
                }

                label {
                    align-items: center;
                    display: flex;
                    flex-direction: column;
                    font-size: $h3;
                    line-height: $h3;

                    input {
                        font-size: inherit;
                        line-height: inherit;
                        order: 2;
                    }

                    span {
                        font-size: inherit;
                        line-height: inherit;
                        order: 1;
                    }
                }
            }
        }
    }
}
