// USER ID

.container--user-data {
    height: max-content;
    position: absolute;
    width: max-content;
    left: 4%;
    top: 10%;
    z-index: 200;

}

.user--id,
.user--data{
    background-color: $color;
    border-radius: 5%;
    color: $bg;
    // left: 2%;
    padding: 10px 15px 10px 15px;
    position: fixed;
    top: 20%;
    z-index: 100;

    height: auto;
    width: max-content;

    display: block;
    opacity: 1;
    pointer-events: auto;

    &.off {
        // display: none;
        opacity: 1;
        pointer-events: none;
    }
}

.switch {
  // position: absolute;
  display: inline-block;
  width: 60px;
  height: 34px;
  // top: 15%;
  // right: 0;
  z-index: 100;
  display: none;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #50CB93;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #BD4B4B;
}

input:focus + .slider {
  box-shadow: 0 0 1px #BD4B4B;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  // height: 26px;
  // width: 26px;
}

.slider.round:before {
  border-radius: 50%;
}

// USER META
.container--user-meta {
    height: max-content;
    position: absolute;
    width: max-content;
    right: 4%;
    top: 10%;
    z-index: 200;
    background-color: $color;
    border-radius: 5px;
    color: $bg;
    margin: 0;
}
