// TAXONOMIES
.article-reve--taxonomies {
    display: flex;
    justify-content: space-between;

    // ADD AND REMOVE BORDER ON ACTIVE STATE
    border-top-width: 1px !important;

    &.-is-active {
        border-top-width: 2px !important;

    }

    // TEMP HEIGHT
    height: 56px;

    @include respond(tablet) {
        height: 32px;
    }

}

.article-taxonomies--typologie {
    display: grid;
    place-items: center;

    .article-taxonomies--typologie-icone {
        display: block;
        height: 44px;
        width: 44px;

        @include respond(tablet) {
            height: 28px;
            width: 28px;
        }
    }

}

.article-taxonomies--tag {
    align-items: flex-start;
    cursor: not-allowed;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin: 6px 18px;

    height: calc( 100% - 12px );

    & > * {
        height: 19px;
        margin: 0 6px 0 0;
        overflow: hidden;

        // 300
        @include respond(minimobile) {
            // background-color: violet;
            display: none;

            &:nth-of-type(-n+1) {
                display: block;
            }
        }

        // 400
        @include respond(minmobile) {
            // background-color: violet;
            display: none;

            &:nth-of-type(-n+1) {
                display: block;
            }
        }

        // 768
        @include respond(mintablet) {
            // background-color: green;
            display: none;

            &:nth-of-type(-n+3) {
                display: block;
            }
        }

        // 982
        @include respond(mincustommd) {
            // background-color: yellow;
            display: none;

            &:nth-of-type(-n+6) {
                display: block;
            }
        }

        // 1280
        @include respond(minmd) {
            // background-color: red;
            display: none;

            &:nth-of-type(-n+10) {
                display: block;
            }
        }



    }
}




.article-taxonomies--lucidite {
    cursor: not-allowed;
    display: grid;
    place-items: center;
    text-transform: uppercase;
    width: 270px;

    @include respond(tablet) {
        padding: 0 5px;
        width: max-content;
    }

    p {
        @include respond(tablet) {
            font-size: $mh3 !important;
            line-height: $mh3 !important;
        }
    }
}
