// Opacité des fonds
$level: 0.7;
$level2: 0.2;

.container--reve-to-download {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: auto;
    width: 100%;
}

.reve--to-print {
    height: auto;
    margin: 0 0 20px 0;
    width: auto;
}

.article-reve {
    // display: none;
}

.table--print {
    display: none;
    background-color: $bg;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    tr {
        td {
            border: 1px solid $color;
            padding: 3px 2px;
            font-size: 15px;
            // 1ERE COLONNE
            &:nth-of-type(1) {
                background-color: rgba(214, 112, 131, $level);
            }

            // 2EME COLONNE
            &:nth-of-type(2) {
                background-color: rgba(214, 112, 131, $level);
            }

            // 3EME COLONNE
            &:nth-of-type(3) {
                background-color: rgba(44, 175, 56, $level);
            }

            // 4EME COLONNE
            &:nth-of-type(4) {
                background-color: rgba(44, 175, 56, $level2);
            }
        }

        // DONNE DU COMPTE
        &:nth-of-type(1) {
            td {
                &:nth-of-type(3) {
                    background-color: rgba(44, 175, 56, 1);
                }
            }
        }

        // GENRE
        &:nth-of-type(4) {
            td {
                &:nth-of-type(3) {
                    text-align: center;
                }
            }
        }

        // MILIEUX
        &:nth-of-type(11) {
            td {
                &:nth-of-type(3) {
                    text-align: center;
                }
            }
        }

        // RAPPORT AU TRAVAIL
        &:nth-of-type(14) {
            td {
                &:nth-of-type(3) {
                    text-align: center;
                }
            }
        }

        // RELATION A UN PAYSAGE
        &:nth-of-type(18) {
            td {
                &:nth-of-type(3) {
                    text-align: center;
                }
            }
        }

        // ATTIRANCE
        &:nth-of-type(25) {
            td {
                &:nth-of-type(3) {
                    text-align: center;
                }
            }
        }

        // FOI SPIRITUELLE
        &:nth-of-type(29) {
            td {
                &:nth-of-type(3) {
                    text-align: center;
                }
            }
        }

        // RELATION AU SOMMEIL
        &:nth-of-type(32) {
            td {
                &:nth-of-type(3) {
                    text-align: center;
                }
            }
        }

        // RELATIONA AUX REVES
        &:nth-of-type(35) {
            td {
                &:nth-of-type(3) {
                    text-align: center;
                }
            }
        }

        // SOUVENIR DU RÊVE
        &:nth-of-type(11) {
            td {
                &:nth-of-type(1) {
                    background-color: rgba(214, 112, 131, 1);
                    text-align: center;
                }
            }
        }
    }
}
// WHITE BACKGROUND
@for $i from 15 through 37 {
    .table--print {
        tr:nth-of-type(#{$i}) {
            td {
                &:nth-of-type(1) {
                    border: none;
                    background-color: $bg;
                }
                &:nth-of-type(2) {
                    border: none;
                    background-color: $bg;
                }
            }
        }
    }
}

// GENRE
@for $i from 5 through 9 {
    .table--print{
        tr:nth-of-type(#{$i}) {
            td {
                &:nth-of-type(3) {
                    background-color: rgba(44, 175, 56, $level2);
                    text-align: right;
                    font-style: italic;
                }
            }
        }
    }
}

// MILIEUX
@for $i from 12 through 13 {
    .table--print {
        tr:nth-of-type(#{$i}) {
            td {
                &:nth-of-type(3) {
                    background-color: rgba(44, 175, 56, $level2);
                    text-align: right;
                    font-style: italic;
                }
            }
        }
    }
}

// RAPPORT AU TRAVAIL
@for $i from 15 through 17 {
    .table--print {
        tr:nth-of-type(#{$i}) {
            td {
                &:nth-of-type(3) {
                    background-color: rgba(44, 175, 56, $level2);
                    text-align: right;
                    font-style: italic;
                }
            }
        }
    }
}

// RELATION A UN PAYSAGE
@for $i from 19 through 24 {
    .table--print {
        tr:nth-of-type(#{$i}) {
            td {
                &:nth-of-type(3) {
                    background-color: rgba(44, 175, 56, $level2);
                    text-align: right;
                    font-style: italic;
                }
            }
        }
    }
}

// ATTIRANCE
@for $i from 26 through 28 {
    .table--print {
        tr:nth-of-type(#{$i}) {
            td {
                &:nth-of-type(3) {
                    background-color: rgba(44, 175, 56, $level2);
                    text-align: right;
                    font-style: italic;
                }
            }
        }
    }
}

// FOI SPIRITUELLE
@for $i from 30 through 31 {
    .table--print {
        tr:nth-of-type(#{$i}) {
            td {
                &:nth-of-type(3) {
                    background-color: rgba(44, 175, 56, $level2);
                    text-align: right;
                    font-style: italic;
                }
            }
        }
    }
}

// RELATION AU SOMMEIL
@for $i from 33 through 34 {
    .table--print {
        tr:nth-of-type(#{$i}) {
            td {
                &:nth-of-type(3) {
                    background-color: rgba(44, 175, 56, $level2);
                    text-align: right;
                    font-style: italic;
                }
            }
        }
    }
}

// RELATION AUX RÊVES
@for $i from 36 through 38 {
    .table--print {
        tr:nth-of-type(#{$i}) {
            td {
                &:nth-of-type(3) {
                    background-color: rgba(44, 175, 56, $level2);
                    text-align: right;
                    font-style: italic;
                }
            }
        }
    }
}

// OU QUAND COMMENT
@for $i from 12 through 14 {
    .table--print {
        tr:nth-of-type(#{$i}) {
            td {
                &:nth-of-type(1) {
                    text-align: right;
                    font-style: italic;
                }
            }
        }
    }
}

