.article-reve {
    display: flex;
    flex-direction: column;
    margin: 0 auto $ratio;
    position: relative !important;
    user-select: none;
    width: 90%;

    @include respond(tablet) {
        margin: 0 $ratio2 $ratio2;
        width: auto;
    }

    &.reve-lucidite-not-selected {
        display: none;
    }

    &.reve-lucidite-selected {
        // Silence is golden
    }

    &.-no-match-date {
        display: none;
    }

    &.-match-date {
        display: flex;
    }

    &.-leave-match-date {
        display: flex;
    }
}




