.reve--to-print {
    display: none;
    height: auto;
    left: 50%;
    position: absolute !important;
    top: 50%;
    transform: translate( -50%, -50% );
    width: auto;
    z-index: 1;
}

table.table--print {
    background-color: $bg;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}
table.table--print td, table.table--print th {
    border: 1px solid $color;
    padding: 3px 2px;
}
table.table--print td {
    font-size: 15px;
}


@media print {
    @page {
        margin: 1cm;
    }
}
