.container--connexion {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    margin: auto;
    width: 42%;

    @include respond(tablet) {
        margin: auto;
        width: 90%;
    }

    h2 {
        text-align: center;
        margin: calc( #{$ratio} / 2 ) 0 0 0;

        @include respond(tablet) {
            font-size: $h4;
            line-height: $h4;
        }
    }
}


#connexion_form {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .login-username,
    .login-password,
    .login-submit {
        all: unset;
    }

    .login-username {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-family: $covik;
        font-size: $h3;
        justify-content: center;
        line-height: $h3;
        margin: 50px 0;
    }
    .login-password {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-family: $covik;
        font-size: $h3;
        justify-content: center;
        line-height: $h3;
        margin: 0 0 50px 0;
    }
    .login-submit {
        align-items: center;
        display: flex;
        flex-direction: column;
        font-family: $covik;
        font-size: $h1;
        justify-content: center;
        line-height: $h1;

        @include respond(tablet) {
            font-size: $h2;
            line-height: $h2;
        }
    }
    input[type="password"] {
        // font-size: 40px;
    }
    .input {
        border: none;
        border-bottom: 2px solid $color;
        color: #000;
        font-family: $covik;
        font-size: $h4;
        height: 28px;
        outline: none;
        padding: 10px 27px 10px 0;
        text-align: center;
        width: 100%;

        &::-webkit-placeholder { /* Chrome/Opera/Safari */
            color: $color;
            font-family: $covik;
            font-size: $h4;
            opacity: 1;
            padding: 10px 0;
        }
        &::-moz-placeholder { /* Firefox 19+ */
            color: $color;
            font-family: $covik;
            font-size: /$h4;
            opacity: 1;
            padding: 10px 0;
        }
        &:-ms-placeholder { /* IE 10+ */
            color: $color;
            font-family: $covik;
            font-size: $h4;
            opacity: 1;
            padding: 10px 0;
        }
        &:-moz-placeholder { /* Firefox 18- */
            color: $color;
            font-family: $covik;
            font-size: $h4;
            opacity: 1;
            padding: 10px 0;
        }
        &::placeholder { /* Firefox 18- */
            color: $color;
            font-family: $covik;
            font-size: $h4;
            opacity: 1;
            padding: 10px 0;
        }
        &::placeholder {
            color: $color;
            font-family: $covik;
            font-size: $h4;
            opacity: 1;
            padding: 10px 0;
        }

        &::-moz-placeholder {
            color: #000;
            font-family: $covik;
            font-size: $h4;
            opacity: 1;
            padding: 10px 0;
        }
    }
    #wp-submit {
        background-color: $bg;
        border: 1px solid #303030;
        padding: 10px 30px;
        border-radius: 100px 100px 100px 100px;
        transition: all 0.325s ease-in-out;
        text-transform: uppercase;
    }
}

.connexion--already-user {
    font-family: $covik;
    font-size: $small;
    line-height: $small;
    margin: calc( #{$ratio} / 2 ) 0 0 0;
    text-decoration: underline;
}

.container--range {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: $ratio 0;
    width: 100%;

    label {
        font-size: $h2;
        line-height: $h2;
    }

    input {
        margin: calc( #{$ratio} * 1 ) 0 0 0;
        width: 100%;

        -webkit-appearance: none;  /* Override default CSS styles */
        appearance: none;
        width: 100%; /* Full-width */
        height: 2px; /* Specified height */
        background: $color; /* Grey background */
        outline: none; /* Remove outline */
        opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: .2s; /* 0.2 seconds transition on hover */
        transition: opacity .2s;

        &::-webkit-slider-thumb {
            // -webkit-appearance: none; /* Override default look */
            // appearance: none;
            width: 25px; /* Set a specific slider handle width */
            height: 25px; /* Slider handle height */
            background: #4CAF50; /* Green background */
            cursor: pointer; /* Cursor on hover */
        }

        &::-moz-range-thumb {
            border: 1px solid $color;
            border-radius: 50%;
            width: 19px;
            height: 19px;
            background: $bg;
            cursor: pointer;
        }
    }
}

// Message d'erreur
.login-msg {
    margin: $ratio;
}
