body {
    &.page-template-page-inscription-informations {
        overflow: auto;
    }
}

.container--inscription-informations {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    margin: auto;
    width: 42%;

    @include respond(tablet) {
        margin: auto;
        width: 90%;
    }

    h1 {
        margin: calc( #{$ratio} *  3 ) 0 0 0;
    }

    h2 {
        text-align: center;
        margin: calc( #{$ratio} / 2 ) 0 0 0;

        &.container--inscription-informations {
            margin: calc( #{$ratio} *  4 ) 0 0 0;
        }

        &.questionnaire-categorie {
            margin: calc( #{$ratio} *  3 ) 0 0 0;
        }

        &.questionnaire-subtitle {
            margin: calc( #{$ratio} *  4 ) 0 0 0;
        }

        @include respond(tablet) {
            font-size: $h4;
            line-height: $h4;
        }
    }

    .questionnaire-categorie-tooltip {
        margin: calc( #{$ratio} *  4 ) 0 0 0;
        position: relative;

        @include respond(tablet) {
            width: 100%;
        }

        h2 {
        }

        .tooltip-icon {
            position: absolute;
            top: 12px;
            right: -13px;
            // padding-bottom: 18px;

            @include respond(tablet) {
                display: inline-block;
                right: unset;
            }

            &:hover {
                & + .tooltip-text {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        .tooltip-text {
            background-color: $bg;
            border: 1px solid $color;
            border-radius: 7px;
            bottom: 20%;
            color: $color;
            font-family: $covik;
            font-size: $small;
            height: max-content;
            line-height: $small;
            opacity: 0;
            padding: 10px;
            position: absolute;
            text-align: left;
            text-transform: uppercase;
            // transform: translateX( 63% ) translateY( -15% );
            transition: opacity 0.3s;
            visibility: hidden;
            width: 350px;
            z-index: 1;

            @include respond(tablet) {
                bottom: 50px;
                transform: translateX( 0 ) translateY( 0 );
                width: 90vw;

                left: 0px !important;
                top: 36px !important;
            }

            &.is-clicked {
                visibility: visible;
                opacity: 1;
            }
        }

        // AGE
        &.questionnaire-categorie-tooltip-age {
            .tooltip-text {
                top: 12px;
                left: 73px;
            }
        }

        // GENRE
        &.questionnaire-categorie-tooltip-genre {
            .tooltip-text {
                top: 12px;
                left: 106px;
            }
        }

        // LANGUE
        &.questionnaire-categorie-tooltip-langue {
            .tooltip-text {
                top: 12px;
                left: -20px;
            }
        }

        // MILIEUX
        &.questionnaire-categorie-tooltip-milieux {
            .tooltip-text {
                top: 12px;
                left: 128px;
            }
        }

        // RAPPORT AU TRAVAIL
        &.questionnaire-categorie-tooltip-travail {
            .tooltip-text {
                top: 12px;
                left: 285px;
            }
        }

        // RELATION A UN PAYSAGE
        &.questionnaire-categorie-tooltip-paysage {
            .tooltip-text {
                top: 12px;
                left: 323px;
            }
        }

        // FOI SPIRITUELLE
        &.questionnaire-categorie-tooltip-foi {
            .tooltip-text {
                top: 12px;
                left: 227px;
            }
        }

        // RELATION AUX RÊVES
        &.questionnaire-categorie-tooltip-reve {
            .tooltip-text {
                top: 12px;
                left: 284px;
            }
        }
    }

}




.container--range {
    align-items: center;
    display: flex;
    font-family: $covik;
    font-size: $h3;
    line-height: $h3;
    flex-direction: column;
    justify-content: center;
    margin: $ratio 0;
    position: relative;
    width: 100%;

    @include respond(tablet) {
        width: 90%;
        font-size: $h5;
        line-height: $h5;
        margin: calc( #{$ratio} / 2 ) 0;
    }

    &:before {
        bottom: 22px;
        content: '0';
        position: absolute;
        width: max-content;
        height: max-content;
        left: -14px;
    }

    &:after {
        bottom: 22px;
        content: '100+';
        position: absolute;
        width: max-content;
        height: max-content;
        right: -35px;

    }

    @include respond(tablet) {
        &:after {
            right: -20px;
        }
    }

    label {
        font-size: $h2;
        line-height: $h2;
    }

    input {
        margin: calc( #{$ratio} * 2 ) 0 0 0;
        width: 100%;

        -webkit-appearance: none;  /* Override default CSS styles */
        appearance: none;
        width: 100%; /* Full-width */
        height: 2px; /* Specified height */
        background: $color; /* Grey background */
        outline: none; /* Remove outline */
        opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
        -webkit-transition: .2s; /* 0.2 seconds transition on hover */
        transition: opacity .2s;

        // barre horizontal du range
        &::-webkit-slider-thumb {
            -webkit-appearance: none; /* Override default look */
            appearance: none;
            background: $bg;
            border: 1px solid $color;
            border-radius: 50%;
            width: 19px; /* Set a specific slider handle width */
            height: 19px; /* Slider handle height */
            cursor: pointer; /* Cursor on hover */
        }

        // point de sélection pour changer de valeurs
        &::-moz-range-thumb {
            border: 1px solid $color;
            border-radius: 50%;
            width: 19px;
            height: 19px;
            background: $bg;
            cursor: pointer;
        }
        &::-webkit-range-thumb {
            border: 1px solid $color;
            border-radius: 50%;
            width: 19px;
            height: 19px;
            background: $bg;
            cursor: pointer;
        }
    }

    .range {
    }

    .bubble {
        bottom: 0;
        color: $color;
        font-family: $covik;
        font-size: $h3;
        line-height: $h3;
        // padding: 4px 12px;
        margin-bottom: 22px;
        position: absolute;
        border-radius: 4px;
        left: 50%;
        transform: translateX(-50%);

        &:after {
            content: "";
            position: absolute;
            width: 2px;
            height: 2px;
            // top: -1px;
            left: 50%;
        }
    }

    .bubble-endpoints {
        border-radius: 50%;
        width: 19px;
        height: 19px;
        background: $color;

        &.bubble-start {
            bottom: -9px;
            left: -18px;
            position: absolute;
        }

        &.bubble-end {
            bottom: -9px;
            right: -19px;
            position: absolute;
        }

    }


    &.range-genre {
        &:before {
            content: 'F';
        }

        &:after {
            content: 'H';
            right: -16px;
        }

        input {
            margin: $ratio 0 0 0;
        }

        .bubble {
            display: none;
        }

    }

    &.range-origine {
        &:before {
            content: 'Modeste';
        }

        &:after {
            content: 'Aisé';
        }

        // input {
        //     margin: $ratio 0 0 0;
        // }

        .bubble {
            display: none;
        }

    }

    &.range-actuel {
        &:before {
            content: 'Modeste';
        }

        &:after {
            content: 'Aisé';
        }

        // input {
        //     margin: $ratio 0 0 0;
        // }

        .bubble {
            display: none;
        }
    }

    &.rapport1 {
        &:before {
            content: 'Travailleur';
        }

        &:after {
            content: 'Patron';
        }

        // input {
        //     margin: $ratio 0 0 0;
        // }

        .bubble {
            display: none;
        }
    }

    &.rapport2 {
        &:before {
            content: 'Indépendant';
        }

        &:after {
            content: 'Salarié';
        }

        // input {
        //     margin: $ratio 0 0 0;
        // }

        .bubble {
            display: none;
        }
    }

    &.enfance-paysage1 {
        &:before {
            content: 'Ville';
        }

        &:after {
            content: 'Campagne';
        }

        .bubble {
            display: none;
        }
    }

    &.enfance-paysage2 {
        &:before {
            content: 'Plaine';
        }

        &:after {
            content: 'Montagne';
        }

        .bubble {
            display: none;
        }
    }

    &.enfance-paysage3 {
        &:before {
            content: 'Zone humide';
        }

        &:after {
            content: 'Zone sèche';
        }

        .bubble {
            display: none;
        }
    }

    &.actuelle-paysage1 {
        &:before {
            content: 'Ville';
        }

        &:after {
            content: 'Campagne';
        }

        .bubble {
            display: none;
        }
    }

    &.actuelle-paysage2 {
        &:before {
            content: 'Plaine';
        }

        &:after {
            content: 'Montagne';
        }

        .bubble {
            display: none;
        }
    }

    &.actuelle-paysage3 {
        &:before {
            content: 'Zone humide';
        }

        &:after {
            content: 'Zone sèche';
        }

        .bubble {
            display: none;
        }
    }

    &.attirance-paysage1 {
        &:before {
            content: 'Ville';
        }

        &:after {
            content: 'Campagne';
        }

        .bubble {
            display: none;
        }
    }

    &.attirance-paysage2 {
        &:before {
            content: 'Plaine';
        }

        &:after {
            content: 'Montagne';
        }

        .bubble {
            display: none;
        }
    }

    &.attirance-paysage3 {
        &:before {
            content: 'Zone humide';
        }

        &:after {
            content: 'Zone sèche';
        }

        .bubble {
            display: none;
        }
    }

    &.sommeil1 {
        &:before {
            content: 'Bon dormeur';
        }

        &:after {
            content: 'Dormeur précaire';
        }

        .bubble {
            display: none;
        }
    }

    &.sommeil2 {
        &:before {
            content: 'J\'aime dormir';
        }

        &:after {
            content: 'Je m\'en passe';
        }

        .bubble {
            display: none;
        }
    }

    &.reve1 {
        &:before {
            content: 'Rêveur riche';
        }

        &:after {
            content: 'Peu rêveur';
        }

        .bubble {
            display: none;
        }
    }

    &.reve2 {
        &:before {
            content: 'Partie de ma vie';
        }

        &:after {
            content: 'Je m\'en passe';
        }

        .bubble {
            display: none;
        }
    }
}

// Foi spiriturel
// https://gist.github.com/martinwolf/6434799
.container--radio {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: $ratio 0;
    width: 130%;

    @include respond(tablet) {
        width: 100%;
    }

    // INDIVIDUEL
    .radio--item {
        align-items: center;
        display: flex;
        flex-direction: column;
        // flex: 1;
        justify-content: center;
        height: 100%;
        width: calc( 100% / 6 );

        @include respond(tablet) {
            margin: $ratio2 0;
            width: calc( 100% / 2 )
        }

        img {
            height: 50px;
            margin-bottom: calc( #{$ratio} * 0.7 );
            max-width: auto;
        }

        h4 {
            margin-top: calc( #{$ratio} * 0.7 );

            @include respond(md) {
                font-size: $h5;
                line-height: $h5;
            }

            @include respond(tablet) {
                font-size: $h5;
                line-height: $h5;
            }
        }

        .input-helper {
            position: relative;
            display: inline-block;

            &:before {
                content: '';
                display: block;
                position: absolute;
            }
        }

        .input-helper--radio {
            padding-left: 18px;

            &:before {
                top: 1px;
                left: 0;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                border: 1px solid #222;
            }
        }

        input[type="radio"] {
            display: none;

            &:checked + label:before {
                background: #222;
            }
        }
    }
}


// LANGUES MATERNELLES
.questionnaire-langue {
    position: relative;
    width: 100%;

    button {
        // all: unset;
    }
}

// zone de texte
.questionnaire-langue-input {
    border: none;
    border-bottom: 2px solid $color;
    color: #000;
    font-family: $covik;
    font-size: $h4;
    height: 35px;
    outline: none;
    margin: 10px 0 0 0;
    padding: 0;
    text-align: center;
    width: 100%;

    &::-webkit-placeholder { /* Chrome/Opera/Safari */
        color: $color;
        font-family: $covik;
        font-size: $h4;
        opacity: 1;
        padding: 10px 0;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        color: $color;
        font-family: $covik;
        font-size: /$h4;
        opacity: 1;
        padding: 10px 0;
    }
    &:-ms-placeholder { /* IE 10+ */
        color: $color;
        font-family: $covik;
        font-size: $h4;
        opacity: 1;
        padding: 10px 0;
    }
    &:-moz-placeholder { /* Firefox 18- */
        color: $color;
        font-family: $covik;
        font-size: $h4;
        opacity: 1;
        padding: 10px 0;
    }
    &::placeholder { /* Firefox 18- */
        color: $color;
        font-family: $covik;
        font-size: $h4;
        opacity: 1;
        padding: 10px 0;
    }
    &::placeholder {
        color: $color;
        font-family: $covik;
        font-size: $h4;
        opacity: 1;
        padding: 10px 0;
    }

    &::-moz-placeholder {
        color: #000;
        font-family: $covik;
        font-size: $h4;
        opacity: 1;
        padding: 10px 0;
    }
}

// bouton ajouter un nouvel element
.questionnaire-langue-button {
    position: absolute !important;
    right: 0;
    top: 15px;

    img {
        height: 19px !important;
        width: 19px !important;
    }
}

// new item ajouter en desous
.questionnaire-langue-list {
    width: 100%;

}
.questionnaire-langue-list-item {
    display: grid;
    place-items: center;

    border: none;
    border-bottom: 2px solid $color;
    color: #000;
    font-family: $covik;
    font-size: $h4;
    height: 35px;
    outline: none;
    margin: 0 0 0 0;
    // padding: 10px 27px 10px 0;
    text-align: center;
    width: 100%;
}

// PAYS D'ENFANCE
.questionnaire-pays {
    width: 100%;
}

.questionnaire-pays-input {
    border: none;
    border-bottom: 2px solid $color;
    color: #000;
    font-family: $covik;
    font-size: $h4;
    height: 35px;
    outline: none;
    margin: 10px 0 0 0;
    padding: 0;
    text-align: center;
    width: 100%;

    &::-webkit-placeholder { /* Chrome/Opera/Safari */
        color: $color;
        font-family: $covik;
        font-size: $h4;
        opacity: 1;
        padding: 10px 0;
    }
    &::-moz-placeholder { /* Firefox 19+ */
        color: $color;
        font-family: $covik;
        font-size: /$h4;
        opacity: 1;
        padding: 10px 0;
    }
    &:-ms-placeholder { /* IE 10+ */
        color: $color;
        font-family: $covik;
        font-size: $h4;
        opacity: 1;
        padding: 10px 0;
    }
    &:-moz-placeholder { /* Firefox 18- */
        color: $color;
        font-family: $covik;
        font-size: $h4;
        opacity: 1;
        padding: 10px 0;
    }
    &::placeholder { /* Firefox 18- */
        color: $color;
        font-family: $covik;
        font-size: $h4;
        opacity: 1;
        padding: 10px 0;
    }
    &::placeholder {
        color: $color;
        font-family: $covik;
        font-size: $h4;
        opacity: 1;
        padding: 10px 0;
    }

    &::-moz-placeholder {
        color: #000;
        font-family: $covik;
        font-size: $h4;
        opacity: 1;
        padding: 10px 0;
    }
}

// RAPPORT AU TRAVAIL
.button--select-rapport {
    opacity: 1;
    pointer-events: auto;

    p {
        font-size: $h3;
        line-height: $h3;
        margin: 0 0 0 8px;
    }
}
