/****************************************************
 *
 * Header
 *
 * *************************************************/

#masthead {
    align-items: center;
    background-color: rgba(255, 255, 255, 0.75);
    display: flex;
    justify-content: center;
    height: 50px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX( -50% );
    transition: background-color $rythm1 ease-in-out;
    width: calc( 100% - calc( 70px * 2 ) ); // en attente des bandeau latéraux
    z-index: 2;

    &.is-faded {
        background-color: $color;

        #mobile--connexion {
            background-color: $color;
            border: 1px solid $bg;

            a {
                color: $bg;
            }
        }

        .site-branding {
            svg {
                fill: $bg;
            }
        }
    }

    &.right-is-open {
        .site-branding {
            svg {
                fill: $bg;
            }
        }
    }

    @include respond(tablet) {
        background-color: rgba(255, 255, 255, 1);
        border-bottom: 1px solid $color;
        height: 32px;
        justify-content: space-between;
        left: 0;
        padding: 0 6px;
        position: relative;
        transform: translateX( 0);
        width: 100%;
        z-index: 3;

        // temp for a propos
        // overflow: scroll;
    }

    &.right-is-open {
        background-color: rgba(255, 255, 255, 0) !important;

        img {
            filter: invert(100%);
        }
    }
}


.site-branding {

    @include respond(tablet) {
        position: absolute;
        left: 50%;
        transform: translateX( -50% );
    }

    svg {
        transition: filter $rythm2 ease-in-out;
        height: 19px;

        @include respond(tablet) {
            height: 10px;
        }
    }
}

// Bouton connexion mobile
#mobile--connexion {
    display: none;

    a {
        color: $color;
    }

    @include respond(tablet) {
        display: block;
    }
}

// Bouton a propos mobile
#header--mobile-apropos{
    display: none;

    // position: absolute;
    // left: 6px;

    @include respond(tablet) {
        display: block;
    }
}
