#page {
    .content--right {
        // border-right: 1px solid $color;
        display: flex;
        justify-content: space-evenly;
        overflow: scroll;
        pointer-events: auto;
        position: relative;
        text-orientation: mixed;
        transform: rotate(180deg);
        transform-origin: center;
        writing-mode: tb;
        width: 50px;

        &.is-unclickable {
            pointer-events: none !important;
        }

        @include respond(tablet) {
            display: none;
        }

        &.is-open {
            width: calc( 100% - 100px );
        }

        &.has-right-orientation {
            text-orientation: initial;
            transform: rotate(0);
            writing-mode: initial;

        }


        & > * {
            // opacity: 1;
            pointer-events: auto;
            position: relative;
            // transition: opacity $rythm1 ease-in-out;
            z-index: 1;
        }

        .right--empty {
            flex: 1.2;
        }

        h3 {
            align-self: center;
            flex: 0.8;
            text-align: center;
        }

        .right--credits {
            align-items: center;
            display: flex;
            flex: 1.2;
            font-family: $solid;
            font-size: $smaller;
            margin: 10px 0 0 0;
            text-transform: uppercase;

            p {
                font-family: $solid;
            }

            a {
                color: $color;
            }

            .credits--contact {

                &:before {
                    content:'-';
                    margin: 5px 0;
                }

                &:after {
                    content: '-';
                    margin: 5px 0;
                }
            }
        }
    }
}

.content--right-oriented {
    background: $bg;
    cursor: pointer;
    display: flex;
    height: 100%;
    width: 50px;
}
