.right--container-propos {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: auto;
    overflow: scroll;
    padding: 0 50px;
    pointer-events: none;
    position: absolute !important;
    right: 0;
    width: 100%;
    z-index: 2 !important;

    .propos--section {
        align-items: center;
        // background-color: $color;
        color: $bg;
        display: flex;
        flex-direction: column;
        height: 100vh;
        justify-content: center;
        width: 100%;

        opacity: 1;
        transition: opacity $rythm1 $easeIOE !important;

        &.is-hidden {
            opacity: 0;
        }


        h2 {
            font-family: $solid;
            margin: 5% 0;
            overflow: hidden;

            &.colored-hover {
                span {
                    font-family: inherit;
                    font-size: inherit;

                    &.char {
                        cursor: pointer;
                        text-transform: uppercase;
                        transition: all $rythm0 $easeIOE !important;

                        &:hover {
                            text-transform: lowercase;
                        }
                    }
                }
            }
        }

        .button--rounded {
            background: transparent;
        }

        &.propos--section-1 {
        }

        &.propos--section-2 {
        }
    }
}


.huge-header {
    display: none;
}



.propos--collapse-container {
    // border: 1px solid $bg;
    color: $color;
    display: flex;
    flex-direction: column;


    .collapse--element {
        height: 86px;
        width: 100%;

        .collapse--element-title {
            align-items: center;
            border-left: 1px solid $bg;
            border-right: 1px solid $bg;
            border-top: 1px solid $bg;
            cursor: pointer;
            display: flex;
            flex-direction: row;
            justify-content: center;
            height: 100%;
            width: 100%;

            .collapse-title {
                display: grid;
                height: 100%;
                place-items: center;

                &:first-child {
                    border-right: 1px solid $bg;
                    width: 7%;

                    h1 {
                        color: $bg;
                        font-family: $covik;
                        font-size: 50px !important;
                    }
                }

                &:last-child {
                    width: 93%;

                    h1 {
                        color: $bg;
                        font-size: 37px !important;
                        font-family: $solid;
                        line-height: 37px !important;
                        text-transform: uppercase;
                        width: 93%;
                    }
                }
            }
        }

        .collapse--element-texte {
            border-bottom: 1px solid $bg;
            border-left: 1px solid $bg;
            border-right: 1px solid $bg;
            margin: 0;
            max-height: 0;
            // padding: 20px 0;
            transition: all $rythm1 ease-out, padding $rythm1 $easeIOE;
            width: 100%;
        }

        h3 {
            border-left: 1px solid $bg;
            // background-color: red;
            color: $bg;
            font-family: $covik !important;
            max-height: 0;
            margin: 0 auto 0 calc( 7% - 1px )!important;
            overflow: hidden;
            transition: all $rythm1 ease-out, padding $rythm1 $easeIOE;
            width: auto;

            &.is-active {
            }
        }
    }


}


// 1er collapse
.propos--section-3 {
    align-items: initial;
    justify-content: flex-start;
}


// Pour aller plus loin
// 2eme collapse
.propos--section-4 {
    align-items: flex-start !important;
}

// Contact
.propos--section-5 {
    h1 {
        &.bigger {
            margin: 0 0 5% 0;
        }

        &:not(:first-child) {
            font-family: $covik !important;

            & > * {
                color: $bg;
            }
        }
    }
    h2 {
        font-family: $covik !important;
        margin: auto;
        text-align: center;
        width: 80%;
    }

}

// Projection et droit
.propos--section-6 {
    h1 {
        &.bigger {
            margin: 0 0 5% 0;
            text-align: center;
        }

        &:not(:first-child) {
            font-family: $covik !important;

            & > * {
                color: $bg;
            }
        }
    }
    h2 {
        font-family: $covik !important;
        margin: auto;
        text-align: center;
        width: 80%;
    }

}
