.right--container-propos-header {
    display: none;

    &.is-active {
        top: 32px;
        transform: translateY(0);
    }

    @include respond(tablet) {
        background-color: $color;
        display: flex;
        left: 0;
        top: 0;
        transform: translateY(-100%);
        width: 100%;
        z-index: 2 !important;

        // display: flex;
        flex-direction: column;
        height: auto;
        // left: 50px;
        margin: auto;
        opacity: 1 !important;
        overflow: scroll;
        // pointer-events: none;
        position: absolute !important;
        // transform: translateX(100%);
        transition: transform $rythm1 ease-in-out !important;
        // width: calc( 100% - 100px );
        // z-index: 2 !important;

        .colored-hover {
            margin: auto;
            width: 90vw;
        }

        .collapse-container {
            margin: auto;
            width: 90vw;
        }

        .collapse-texte-follow {
            margin: auto;
            width: 90vw;

            h1 {
                padding-left: 0;
                text-align: left !important;
            }
        }

        .propos--section {
            align-items: center;
            // background-color: $color;
            color: $bg;
            display: flex;
            flex-direction: column;
            height: 100vh;
            justify-content: center;
            width: 100%;

            opacity: 1 !important;
            transition: opacity $rythm1 ease-in-out !important;

            margin-top: $ratio;

            &:nth-of-type(1) {
                margin-top: 0;
            }

            @include respond(tablet) {
                height: 100%;
            }

            .button--rounded {
                p {
                    font-size: $h2;
                    line-height: $h2;

                    a {
                        height: auto;
                    }
                }
            }

            h1 {
                font-size: $h1 !important;
                line-height: $h1 !important;

                @include respond(tablet) {
                    font-size: $h2 !important;
                    line-height: $h2 !important;
                    text-align: center;
                }

                a {
                    font-weight: normal;
                }
            }

            h2 {
                font-family: $solid;
                margin: 5% 0;
                overflow: hidden;

                &.colored-hover {
                    span {
                        font-family: inherit;
                        font-size: inherit;

                        &.char {
                            cursor: pointer;
                            text-transform: uppercase;
                            transition: all $rythm0 ease-in-out !important;

                            &:hover {
                                text-transform: lowercase;
                            }
                        }
                    }
                }

                @include respond(tablet) {
                    font-size: $h4;
                    line-height: calc( #{$h4} * 1.3 );
                }
            }

            a {
                color: $bg;
                font-weight: bold;
            }

            .button--rounded {
                background: transparent;
            }

            &.propos--section-1 {
            }

            &.propos--section-2 {
            }
        }
    }

    // Collapse Container
    .collapse-texte {
        p {
            margin-left: calc( 20% - 1px );
        }
    }

    // Hide title
    .huge {
        display: none;
    }

    .huge-header {
        display: block;
        margin: $ratio auto;
        width: 90vw;
    }

    .collapse-container {
        label {
            width: inherit;

            span {
                width: 20%;
            }

            .collapse-title-texte {
                width: 80%;
            }
        }
    }
}
